<img class="owner_image" alt="VVF" src="assets/img/owner.png">
<div id="list" class="table-responsive mt-4">
    <table id="table" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>Azione</th>
                <th>Interessato</th>
                <th>Fatto da</th>
                <th>Data e ora</th>
            </tr>
        </thead>
        <tbody id="table_body">
            <tr>
                <td>Login</td>
                <td>Paolo Verdi</td>
                <td>Paolo Verdi</td>
                <td>2021-11-18 18:29:04</td>
            </tr>
            <tr>
                <td>Login</td>
                <td>Mario Rossi</td>
                <td>Mario Rossi</td>
                <td>2021-08-05 15:45:38</td>
            </tr>
            <tr>
                <td>Attivazione disponibilita'</td>
                <td>Mario Rossi</td>
                <td>Paolo Verdi</td>
                <td>2021-07-20 00:11:43</td>
            </tr>
            <tr>
                <td>Rimozione disponibilita'</td>
                <td>Paolo Verdi</td>
                <td>Mario Rossi</td>
                <td>2021-07-15 09:25:56</td>
            </tr>
        </tbody>
    </table>
</div>