#backBtn {
    position: absolute;
    z-index: 9999;
    border: none;
    outline: none;
    background-color: #fbfbfb;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    top: 60px;
    left: 10px;
}