<div id="map" style="height: 300px;" leaflet [leafletOptions]="options" (leafletMapReady)="mapReady($event)" (leafletClick)="mapClick($event)">
  <div *ngIf="isMarkerSet" [leafletLayer]="marker"></div>
</div>
<div id="search" class="mt-2 mb-3">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Luogo" [(ngModel)]="placeName" (keyup.enter)="searchPlace()">
    <button class="btn btn-outline-secondary" type="button" (click)="searchPlace()">Cerca</button>
  </div>
  <div id="results" *ngIf="isPlaceSearchResultsOpen">
    <li *ngFor="let result of placeSearchResults" (click)="selectPlace(result)">{{ result.display_name }}</li>
  </div>
</div>