  <form method="post">
    <div class="container">
      <div class="form-group">
        <label for="date-picker">Giorno</label>
        <input id="date-picker" type="text" placeholder="Premi per selezionare una data" class="form-control" bsDatepicker [bsConfig]="{ adaptivePosition: true }">
      </div>
      <div class="form-group">
        <label for="progressivo">Progressivo</label>
        <input id="progressivo" class="form-control" type="text" placeholder="1234/5" required>
      </div>
      <div class="form-group">
        <label for="timePicker1">Ora inizio</label>
        <input id="timePicker1" class="form-control" type="time" required>
      </div>
      <div class="form-group">
        <label for="timePicker2">Ora fine</label>
        <input id="timePicker2" class="form-control" type="time" required>
      </div>
      <div class="form-group">
        <label>Caposquadra</label>
        <br>
        <ng-container *ngFor="let user of users">
            <div class="form-check" *ngIf="user.chief">
                <input class="form-check-input chief-{{ user.id }}" type="checkbox" value='{{ user.id }}'>
                <label class="form-check-label" for="chief-{{ user.id }}">
                  {{ user.name }}
                </label>
            </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label>Autisti</label>
        <br>
        <ng-container *ngFor="let user of users">
            <div class="form-check" *ngIf="user.driver">
                <input class="form-check-input driver-{{ user.id }}" type="checkbox" value='{{ user.id }}'>
                <label class="form-check-label" for="driver-{{ user.id }}">
                  {{ user.name }}
                </label>
            </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label>Altri membri della squadra</label>
        <br>
        <ng-container *ngFor="let user of users">
            <div class="form-check" *ngIf="!user.chief && !user.driver">
                <input class="form-check-input crew-{{ user.id }}" type="checkbox" value='{{ user.id }}'>
                <label class="form-check-label" for="crew-{{ user.id }}">
                  {{ user.name }}
                </label>
            </div>
        </ng-container>
      </div>
      <label>Luogo dell'intervento</label>
      <map-picker></map-picker>
      <div class="form-group">
        <label for="notes">Note (es. altre informazioni)</label><br>
        <textarea class="form-control" id="notes"></textarea>
      </div>
      <br>
      <div class="form-group">
        <label>Tipologia</label>
        <br>
        <div class="input-group">
          <select class="form-control mr-2">
            <option selected disabled>Seleziona tipologia..</option>
            <option *ngFor="let type of types" value="{{ type.id }}">{{ type.name }}</option>
          </select>
          <button class="btn btn-outline-secondary" type="button" tabindex="-1" (click)="addingType = true">
            Aggiungi
          </button>
        </div>
        <div class="input-group mb-2 mt-2" *ngIf="addingType">
          <input type="text" class="form-control" placeholder="Nome della tipologia" [(ngModel)]="newType" [ngModelOptions]="{standalone: true}">
          <button class="btn btn-secondary" type="button" (click)="addType()">Invia</button>
        </div>
      </div>
      <br>
      <button id="submit_button" type="submit" class="btn btn-primary">Invia</button>
    </div>
  </form>
