<div [className]="menuButtonClicked ? 'topnav responsive' : 'topnav'" id="topNavBar" *ngIf="auth.profile !== undefined">
  <a routerLinkActive="active" (click)="menuButtonClicked = false" routerLink="/list" translate>menu.list</a>
  <a routerLinkActive="active" (click)="menuButtonClicked = false" routerLink="/services" translate>menu.services</a>
  <a routerLinkActive="active" (click)="menuButtonClicked = false" routerLink="/trainings" translate>menu.trainings</a>
  <a routerLinkActive="active" (click)="menuButtonClicked = false" routerLink="/logs" translate>menu.logs</a>
  <a style="float: right;" id="logout">Ciao, {{ auth.profile.name }}. <b id="logout-text" (click)="auth.logout()" translate>menu.logout</b></a>
  <a class="icon" id="menuButton" (click)="menuButtonClicked = !menuButtonClicked">☰</a>
</div>

<div class="d-flex justify-content-center mt-4 pt-4 mb-3" *ngIf="loadingRoute">
  <div class="spinner spinner-border"></div>
</div>

<router-outlet></router-outlet>

<div id="footer" class="footer text-center p-3">
  {{ 'footer_text' | translate }}<br>
  <p>{{ 'revision' | translate | titlecase }} {{ versions.revision }} ({{ revision_datetime_string }})</p>
</div>
