#Thanks u/IZEN_R!

RewriteEngine on

RewriteCond %{REQUEST_URI} !^(.*)dist-frontend/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ dist-frontend/$1
RewriteRule ^(.*)api/(.*) router.php [L]

DirectoryIndex dist-frontend/index.html
ErrorDocument 404 router.php