div#map {
	width: 100%;
    height: 500px;
}

.map {
	width: 100%;
    height: 500px;
}

div#search {
	background-color: rgba(255, 255, 255, 0.4);
	bottom: 40px;
	left: 40px;
	width: auto;
	height: auto;
	padding: 10px;
}

div#results {
	font-style: sans-serif;
	color: black;
	font-size: 75%;
}

.fa.fa-map-marker-alt,.fa.fa-spinner.fa-spin {
    line-height: inherit;
}

.leaflet-pane.leaflet-shadow-pane {
	display: none;
}
