<back-btn></back-btn>
<div class="d-flex justify-content-center mt-5 pt-5" *ngIf="!place_loaded">
  <div class="spinner spinner-border"></div>
</div>
<br>
<div style="height: 300px;" leaflet [leafletOptions]="options" *ngIf="place_loaded">
  <div [leafletLayers]="layers"></div>
</div>
<div class="place_info" *ngIf="place_loaded">
  <h3>
    <a href="https://www.google.com/maps/@?api=1&map_action=map&center={{ lat }},{{ lng }}&zoom=19&basemap=satellite" target="_blank">{{ 'place_details.open_in_google_maps'|translate }}</a>
  </h3>
  <br>
  <h4 *ngIf="place_info.place_name">
    {{ 'name'|translate|titlecase }}: <b>{{ place_info.place_name }}</b>
  </h4>
  <h4 *ngIf="place_info.building_service_name">
    {{ 'place_details.place_name'|translate|titlecase }}: <b>{{ place_info.building_service_name }}</b>
  </h4>
  <h4 *ngIf="place_info.house_number">
    {{ 'place_details.house_number'|translate|titlecase }}: <b>{{ place_info.house_number }}</b>
  </h4>
  <h4 *ngIf="place_info.road">
    {{ 'place_details.road'|translate|titlecase }}: <b>{{ place_info.road }}</b>
  </h4>
  <h4 *ngIf="place_info.village">
    {{ 'place_details.village'|translate|titlecase }}: <b>{{ place_info.village }}</b> ({{ 'place_details.postcode'|translate }} <b>{{ place_info.postcode }}</b>)
  </h4>
  <h4 *ngIf="place_info.hamlet">
    {{ 'place_details.hamlet'|translate|titlecase }}: <b>{{ place_info.hamlet }}</b>
  </h4>
  <h4 *ngIf="place_info.municipality">
    {{ 'place_details.municipality'|translate|titlecase }}: <b>{{ place_info.municipality }}</b>
  </h4>
</div>