{% extends "base.html" %}

{% block content %}
<br>
<div id='lista'>
</div>
<script>
$("#lista").load("risorse/ajax/ajax_anagrafica.php?user={{ dacontrollare }}");
$(document).ready(function() {

setInterval(function() {
$("#lista").load("risorse/ajax/ajax_anagrafica.php?user={{ dacontrollare }}");
}, 10000);

});
check();
$(document).ready(function() {

setInterval(function() {
check();
}, 10000);

});
</script>

     <script>
   function AttivoAdmin(nameuser, dispo){
    dispo = +!dispo;
    $.ajax({
     url:"ajax_aggiornadispo.php",
     method: "POST",
     data: {nameuser: nameuser, dispo:dispo},
     success: function (data) {
      alert("Hai editto la disponibilità di " + nameuser + " in caso in allerta.");
      $("#lista").load("risorse/ajax/ajax_anagrafica.php?user={{ dacontrollare }}");
     }
    });
   };
   </script>
{% endblock %}
