<!DOCTYPE html>
<html lang="it">
<head>
  {% block head %}
  <title>{{ title }} - ALLERTA sistema gestionale {{ owner }}</title>
  <link href="{{ urlsoftware }}/resources/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <meta name="viewport" content="user-scalable=no, initial-scale=1">
  <meta name="google" content="notranslate">
  <meta name="robots" content="none">
  <link rel="manifest" href="manifest.webmanifest">
  <script src="{{ urlsoftware }}/resources/dist/{{ resource('main.js') }}"></script>
  {% if enable_technical_support and technical_support_open %}
  <!-- Smartsupp Live Chat script -->
  <script type='text/javascript'>
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '{{ technical_support_key }}';
    _smartsupp.ratingEnabled = true; // default value : false
    _smartsupp.ratingComment = true; // default value : false
    window.smartsupp || (function (d) {
      var s, c, o = smartsupp = function () {
        o._.push(arguments)
      };
      o._ = [];
      s = d.getElementsByTagName('script')[0];
      c = d.createElement('script');
      c.type = 'text/javascript';
      c.charset = 'utf-8';
      c.async = true;
      c.src = 'https://www.smartsuppchat.com/loader.js?';
      s.parentNode.insertBefore(c, s);
    })(document);
  </script>
  <script>
    // basic info
    smartsupp('email', '');
    smartsupp('name', '{{ user.name }}');
    smartsupp('recording:disable', false);
    // extra info
    smartsupp('variables', {
      name: {
        label: 'name user ',
        value: '{{ user.name }}'
      },
      Admin: {
        label: 'Admin',
        value: '{{ user.full_viewer }}'
      }
    });
  </script>
  {% endif %}
  {% endblock %}
</head>
<body>
  <div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a
      href="https://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
      I agree
    </button>
  </div>
  {% block menu %}
  <!-- Menu -->
  <div class="topnav" id="myTopnav">
    <a href="{{ urlsoftware }}list.php" class="active">{{ 'Availability List'|t }}</a>
    <a href="{{ urlsoftware }}services.php">{{ 'Services'|t }}</a>
    <a href="{{ urlsoftware }}trainings.php">{{ 'Trainings'|t }}</a>
    <a href="{{ urlsoftware }}log.php">{{ 'Logs'|t }}</a>
    <a {# href="{{ urlsoftware }}graphics.php" #}>{{ 'Graphics'|t }}</a>
    {% if enable_technical_support %}<a href="javascript:void(0);"
      onclick="chat()">{{ 'Technical Support' }}</a>{% endif %}
    <a style="float: right;" id="logout">{{ 'Hi, %s.'|t|format(user.name) }} <b
        onclick="location.href='{{ urlsoftware }}logout.php';">{{ 'Logout'|t }}</b></a>
    <a href="javascript:void(0);" class="icon" onclick="menu()">☰</a>
  </div>
  <!-- /Menu -->
  {% endblock %}
  <div class="alert alert-danger m-3" id="offline_alert" style="display: none" role="alert">
    <b>{{ 'You are offline'|t }}.</b> {{ 'Last update'|t }}: <p style="display: inline" id="offline_update"></p>
  </div>
  <!-- Content -->
  <div id="content">
{% block pjax_content %}
{% if pjax_requested %}<title>{{ title }} - ALLERTA sistema gestionale {{ owner }}</title>{% endif %}
{% block content %}{% endblock %}
{% endblock %}
  </div>
  <!-- /Content -->
  <!-- Footer -->
  <footer hidden id="bottom" class="row text-left p-4">
    <div class="col-12 col-md-4">
      <h5>Copyright &copy; Matteo</h5>
      <h4>Applicativo realizzato per {{ owner }}</h4>
    </div>
  </footer>
  <!-- /Footer -->
</body>
</html>