{% extends "base.html" %}

{% block content %}
    <br>
    <img alt="VVF" src="./resources/images/owner.png" width="150" style="display: block; margin-left: auto; margin-right: auto;">
    <br>
    <div id="list" hidden></div>
    <b>TODO</b>
    <script>
      $.get( "resources/ajax/ajax_log.php", function( data ) {
         $( "#list" ).html( data );
         console.log( "Loaded list." );
      });
      $(document).ready(function() {

        setInterval(function() {
          $.get( "resources/ajax/ajax_log.php", function( data ) {
             $( "#list" ).html( data );
          });
        }, 10000);

      });
/*
      check();
      $(document).ready(function() {

        setInterval(function() {
          check();
        }, 10000);

      });
      */
    </script>
    <br>
    <br>
{% endblock %}