{% extends "base.html" %}

{% block content %}
    <br>
    <div class="text-center">
      <p>{{ 'Are you available in case of alert?'|t }}</p>
      <button class="btn btn-lg btn-success " onclick="Attivo('{{ user.id }}')">{{ 'Active'|t }}</button>

      <button class="btn btn-lg btn-danger" style="background-color: red" onclick="NonAttivo('{{ user.id }}')">{{ 'Not Active'|t }}</button>
    </div>
    <script defer>
      function Attivo(id){
        $.ajax({
          url: "risorse/ajax/ajax_aggiornadispo.php",
          method: "POST",
          data: {
            change_id: id,
            dispo: 1,
            token_list: "{{ token_list }}"
          },
          success: function(data) {
            alert("{{ 'Thanks, %s, you have given your availability in case of alert.'|t|format(user.name) }}");
            location.reload();
          }
        });
      }

      function NonAttivo(id){
        $.ajax({
          url: "risorse/ajax/ajax_aggiornadispo.php",
          method: "POST",
          data: {
            change_id: id,
            dispo: 0,
            token_list: "{{ token_list }}"
          },
          success: function(data) {
            alert("{{ 'Thanks, %s, you have removed your availability in case of alert.'|t|format(user.name) }}");
            location.reload();
          }
        });
      }
    </script>
    <br>
    <br>
    <img alt="VVF" src="./risorse/images/owner.png" width="150" style="display: block; margin-left: auto; margin-right: auto;">
    <br>
    <br>
    <div id="list"></div>
{% if user.full_viewer == false %}
<script>
$( "#list" ).load("risorse/ajax/ajax_list.php");
$(document).ready(function() {
  setInterval(function() {
    $( "#list" ).load("risorse/ajax/ajax_list.php");
  }, 10000);
});
</script>
{% elseif user.full_viewer == true %}
<script>
$( "#list" ).load("risorse/ajax/ajax_admin_list.php");
$(document).ready(function() {
  setInterval(function() {
    $( "#list" ).load("risorse/ajax/ajax_admin_list.php");
  }, 10000);
});
</script>
<style>
  #add {
   outline: none;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   font: bold 12px Arial, Helvetica, sans-serif;
   color: #fff;
   padding: 10px 20px;
   border: solid 1px #0076a3;
   background: #0095cd;
  }

  #href {
   outline: none;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   font: bold 12px Arial, Helvetica, sans-serif;
   color: #fff;
   padding: 10px 20px;
   border: solid 1px #0076a3;
   background: #0095cd;
  }
  </style>
{% endif %}
<script defer type="text/javascript" src="risorse/js/cache.js"></script>
    <br>
    <br>
{% endblock %}