{% extends "base.html" %}

{% block content %}
<br>
<div class="text-center">
  <p>{{ 'Are you available in case of alert?'|t }}</p>
  <button class="btn btn-lg btn-success " onclick="activate('{{ user.id }}')">{{ 'Activate'|t }}</button>
  <button class="btn btn-lg btn-danger" style="background-color: red"
    onclick="deactivate('{{ user.id }}')">{{ 'Deactivate'|t }}</button>
</div>
<br>
<br>
<script>
  function generate_alert_string(id){
    if(id == '{{ user.id }}'){
      return '{{ "your availability"|t }}';
    } else {
      username = document.querySelector("#username-"+id).innerText;
      return `{{ "%s availability"|t|format('${username}') }}`;
    }
  }

  function activate(id) {
    $.ajax({
      url: "resources/ajax/ajax_change_availability.php",
      method: "POST",
      data: {
        change_id: id,
        dispo: 1,
        token_list: "{{ token_list }}"
      },
      success: function (data) {
        alert(`{{ 'Thanks, %s, you have given %s in case of alert.'|t|format(user.name, '${generate_alert_string(id)}') }}`);
        clearInterval(window.loadTable_interval); //stop reloading
        loadTable("list");
      }
    });
  }

  function deactivate(id) {
    $.ajax({
      url: "resources/ajax/ajax_change_availability.php",
      method: "POST",
      data: {
        change_id: id,
        dispo: 0,
        token_list: "{{ token_list }}"
      },
      success: function (data) {
        alert(`{{ 'Thanks, %s, you have removed %s in case of alert.'|t|format(user.name, '${generate_alert_string(id)}') }}`);
        clearInterval(window.loadTable_interval); //stop reloading
        loadTable("list");
      }
    });
  }
</script>
<img alt="VVF" src="./resources/images/owner.png" width="150"
  style="display: block; margin-left: auto; margin-right: auto;">
<br>
<br>
<div id="list" class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>{{ 'Name'|t }}</th>
        <th>{{ 'Available'|t }}</th>
        {% if user.full_viewer %}
        <th>{{ 'Driver'|t }}</th>
        <th>{{ 'Call'|t }}</th>
        <th>{{ 'Write'|t }}</th>
        <th>{{ 'Services'|t }}</th>
        <th>{{ 'Availability Minutes'|t }}</th>
        <!-- <th>{{ 'Other'|t }}</th> TODO: fix "Other" page -->
        {% endif %}
      </tr>
    </thead>
    <tbody id="table_body">
    </tbody>
  </table>
  <script>
    loadTable("list");
  </script>
</div>

<br><br>
<p style="text-align: center;">
  <a class='pjax_disable' id='add' href="edit_user.php?add">{{ 'Add user'|t }}</a>
</p>
<br>
<br>
{% endblock %}