{% extends "base.html" %}

{% block content %}
    <br>
    <div class="text-center">
      <p>Sei available in caso di allerta?</p>
      <button class="btn btn-lg btn-success " onclick="Attivo('{{ utente.nome }}')">Attivo</button>

      <button class="btn btn-lg btn-danger" style="background-color: red" onclick="nonAttivo('{{ utente.nome }}')">Non Attivo</button>
    </div>
    <script defer>
      function AttivoAdmin(nomeutenteattivato, dispold){
        var nomeutenteattivatore = '{{ utente.nome }}';
        var dispo = 1-dispold;
        var code = '{{ utente.codice }}';
        $.ajax({
          url: "risorse/ajax/ajax_aggiornadispo.php",
          method: "POST",
          data: {
            nomeutenteattivato: nomeutenteattivato,
            nomeutenteattivatore: nomeutenteattivatore,
            dispo: dispo
          },
          success: function(data) {
            if(nomeutenteattivatore === nomeutenteattivato){
              alert("Grazie, " + nomeutenteattivatore + ", hai dato la tua disponibilità in caso in allerta.");
            } else {
              alert("Grazie, " + nomeutenteattivatore + ", hai dato la disponibilità di " + nomeutenteattivato + " in caso in allerta.");
            }
            location.reload();
          }
        });
      };

      function Attivo(nomeutenteattivato){
        var nomeutenteattivatore = '{{ utente.nome }}';
        var dispo = 1;
        var code = '{{ utente.codice }}';
        $.ajax({
          url: "risorse/ajax/ajax_aggiornadispo.php",
          method: "POST",
          data: {
            nomeutenteattivato: nomeutenteattivato,
            nomeutenteattivatore: nomeutenteattivatore,
            dispo: dispo
          },
          success: function(data) {
            if(nomeutenteattivatore === nomeutenteattivato){
              alert("Grazie, " + nomeutenteattivatore + ", hai dato la tua disponibilità in caso in allerta.");
            } else {
              alert("Grazie, " + nomeutenteattivatore + ", hai dato la disponibilità di " + nomeutenteattivato + " in caso in allerta.");
            }
            location.reload();
          }
        });
      };

      function nonAttivo(nomeutenteattivato){
        var nomeutenteattivatore = '{{ utente.nome }}';
        var dispo = 0;
        var code = '{{ utente.codice }}';
        $.ajax({
          url: "risorse/ajax/ajax_aggiornadispo.php",
          method: "POST",
          data: {
            nomeutenteattivato: nomeutenteattivato,
            nomeutenteattivatore: nomeutenteattivatore,
            dispo: dispo
          },
          success: function(data) {
            if(nomeutenteattivatore === nomeutenteattivato){
              alert("Grazie, " + nomeutenteattivatore + ", hai dato la tua disponibilità in caso in allerta.");
            } else {
              alert("Grazie, " + nomeutenteattivatore + ", hai dato la disponibilità di " + nomeutenteattivato + " in caso in allerta.");
            }
            location.reload();
          }
        });
      };
    </script>
    <br>
    <br>
    <img alt="VVF" src="./risorse/images/distaccamento.png" width="150" style="display: block; margin-left: auto; margin-right: auto;">
    <br>
    <br>
    <div id="lista"></div>
{% if utente.admin == false %}
<script>
$( "#lista" ).load("risorse/ajax/ajax_lista.php");
$(document).ready(function() {
  setInterval(function() {
    $( "#lista" ).load("risorse/ajax/ajax_lista.php");
  }, 10000);
});
</script>
{% elseif utente.admin == true %}
<script>
$( "#lista" ).load("risorse/ajax/ajax_lista_admin.php");
$(document).ready(function() {
  setInterval(function() {
    $( "#lista" ).load("risorse/ajax/ajax_lista_admin.php");
  }, 10000);
});
</script>
{% endif %}
<script defer type="text/javascript" src="risorse/js/cache.js"></script>
    <br>
    <br>
{% endblock %}