{% extends "base.html" %}

{% block content %}
    <br>
    <img alt="VVF" src="./risorse/images/owner.png" width="150" style="display: block; margin-left: auto; margin-right: auto;">
    <br>
    <p style="text-align: center;">
    <a id='add' href="edit_service.php?add">{{ 'Add service'|t }}</a>
    </p>
    <br>
    <div id="list"></div>
    <script>
      $.get( "risorse/ajax/ajax_services.php", function( data ) {
         $( "#list" ).html( data );
         console.log( "List loaded." );
      });
      $(document).ready(function() {
        setInterval(function() {
          $.get( "risorse/ajax/ajax_services.php", function( data ) {
             $( "#list" ).html( data );
          });
        }, 10000);
      });
    </script>
    <br>
    <br>
{% endblock %}
