{% extends "base.html" %}

{% block content %}
<br>
<div id='list'>
</div>
<script>
$("#list").load("resources/ajax/ajax_user_details.php?user={{ view_user }}");
$(document).ready(function() {

setInterval(function() {
$("#list").load("resources/ajax/ajax_user_details.php?user={{ view_user }}");
}, 10000);

});
check();
$(document).ready(function() {

setInterval(function() {
check();
}, 10000);

});
</script>

     <script>
   function AttivoAdmin(nameuser, dispo){
    dispo = +!dispo;
    $.ajax({
     url:"ajax_change_availability.php",
     method: "POST",
     data: {nameuser: nameuser, dispo:dispo},
     success: function (data) {
      alert("Hai editto la disponibilità di " + nameuser + " in caso in allerta.");
      $("#list").load("resources/ajax/ajax_user_details.php?user={{ view_user }}");
     }
    });
   };
   </script>
{% endblock %}
