table {
  margin: auto;
  max-width: 95%;
  text-align: center;
  overflow-x: auto;
}

#table_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

th, td {
  text-align: center;
  vertical-align: middle !important;
}

.table > :not(:first-child) {
  border-top: none;
}

img {
  max-width: 20em;
}

.cursor-pointer {
  cursor: pointer;
}

.place_details_link {
  text-decoration: underline;
  color: #0d6efd;
}
