/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~ngx-toastr/toastr';

.fa {
  vertical-align: middle;
  font-size: 20px;
}

.fa-whatsapp {
  color: green;
  font-size: 1.5em;
}
